.contacto {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: $color-fuente;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    font-weight: bold;
    margin: 1% ;
}

.mama {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    gap: 2.0em;
    flex-wrap: wrap;

}

