<<<<<<< HEAD
<<<<<<< HEAD
.tituloCuchas{
    width: auto;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: $color-fuente;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    font-weight: bold;
    margin: 2rem 5rem;
    
}

.row {
    display: flex;
    justify-content: center;
}

.imgCuchas {
    width: 200px;
    height: 300px;
    object-fit: contain;
    align-items: center;
}


.card {
    height: 80%;
    width: 80%;
=======
.imgCuchas {
    
    width: 300px;
    height: 400px;
    object-fit: contain;
    align-items: center;
=======
.imgCuchas {
    
    width: 300px;
    height: 400px;
    object-fit: contain;
    align-items: center;
>>>>>>> 2108b86657e777ecd2c5510490a63366ad8a0b85
    

}

.card {
<<<<<<< HEAD
>>>>>>> 2108b86657e777ecd2c5510490a63366ad8a0b85
=======
>>>>>>> 2108b86657e777ecd2c5510490a63366ad8a0b85
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

<<<<<<< HEAD
<<<<<<< HEAD
.card-body p {
    color: $color-fuente;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    text-align: center;
}

.card-body span {
    color: $color-fuente;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    justify-content: center;
    display: flex;
    font-size: 20px;
    padding-bottom: 0.7rem;
}

.colorBoton {
    margin-top: 0.9rem;
=======
.colorBoton {
>>>>>>> 2108b86657e777ecd2c5510490a63366ad8a0b85
=======
.colorBoton {
>>>>>>> 2108b86657e777ecd2c5510490a63366ad8a0b85
    color: white;
    background-color: rgb(226, 181, 181)
}

.colorBoton:hover {
    background-color: rgb(209, 137, 137);
    color: white;
<<<<<<< HEAD
<<<<<<< HEAD
}

.chucherias {
    text-align: center;
    h2 {
        font-weight: bold;
        color: $color-fuente;
        font-family: 'Raleway', sans-serif; 
    }
    h3{
        color: $color-fuente;
        font-weight: bolder;
    font-family: 'Raleway', sans-serif;;
    }
}

.comprado {
    margin-top: 3.0rem;
    display: flex;
    justify-content: center;
=======
>>>>>>> 2108b86657e777ecd2c5510490a63366ad8a0b85
=======
>>>>>>> 2108b86657e777ecd2c5510490a63366ad8a0b85
}