*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*------------Inicio-----------------------*/ 

body {
    padding: 90px 20px 0;
    background-image: url(../images/wall1.png);

    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    
}

section.cats {
margin-top: 1px;
    margin-left: 430px; 
    padding-bottom: 40px;
}

.header {
    background-color: rgb(226, 181, 181);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;
}

.nav-link {
    color: white;
    font-family: 'Satisfy', cursive;
    text-decoration: none;
}

.logo { 
    font-size: 30px;
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    padding: 0 10px ;
    line-height: 80px;
    
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 32px 10px;
    line-height: 100 px;
    text-transform: uppercase;

}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;

}


.nav-menu-link:hover {
    background-color: rgb(205, 137, 134);
    transition: 0.5s;
}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}



section h2 {
    color: rgb(168, 105, 105);
    text-shadow: 10px rgb(6, 6, 6) ;
    margin-top: 30px;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-style: oblique;
    font-size:xx-large;
    text-align: center;
}

section p {
    color: rgb(10, 10, 10);
    font-size: 20px;
    
    
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    padding-left: 70px;
    padding-right: 70px;
    
}

.fotoUno {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    border-radius: 6px rgb(255, 255, 255);
    box-shadow: 0px 5px 9px rgba(0,0,0,0.50);
    
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.fotoUnoYDos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: minmax(350px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
    margin-left: 22%;
    

}

/*------------------Contacto-----------*/

.contacto {
    margin-top: 3%;
    margin-bottom: 5%;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: bold;
    
}

.mama {
    margin-left: 460px;
    margin-bottom: 100px;
}

article.mamaDos {
    margin-left: 480px;
    margin-bottom: 100px;
}

/*--------------Cuchas---------*/


.cuchas {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:small;
    font-style: normal;
    font-weight:200;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.fotoCucha{
    margin-top: 5%;
    margin-bottom: 5%;
        margin-left: 460px;
}

/*-------------Opiniones---------*/

.formulario{
    background: rgba(255, 127, 80, 0.762);
    padding: 1% 1% 1% 1% ;

    margin: 1% 39% 1% 39% ;
}

.eleccion {
    display:flex;
    margin: 1% 40% 3% 16%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bolder;

}

.eleccion div {
    margin-left: 15px;
}

.perroYgato .queAnimal{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 3%;
    padding-right: 5%;
    font-size: large;
    font-weight: bolder;
}

.perroYgato div {
    display: inline;
    margin-top: 10%;
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight:200;
}

.nYa {
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight:bolder;
}

.casita {
    display: flex;
    margin: 4% 10% 4% 11%;
}

.casita .dondeVives {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    padding-right: 2%;
}

.mandar {
    margin-left: 14%;
}

footer {
    margin-top: 30%;
    padding: 10% 3% 1% 52%;
}

/*-----------Adopciones--------*/

.adop { 
    font-family: 'Raleway', sans-serif;
    font-size: large;
    font-weight: bolder;
    
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: blueviolet;
    border-radius: 6px;
    border-radius: 6px rgb(255, 255, 255);
    box-shadow: 0px 5px 9px rgba(0,0,0,0.50);
    
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

.gridCat {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;

}

/*-------tablet--------*/

@media (max-width: 768px) {
    


body {
    padding-top: 70px;
}

.header {
    height: 60px;
}

    
.nav {
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;
}

.nav-link {
    color: white;
    font-family: 'Satisfy', cursive;
    text-decoration: none;
}

.logo { 
    font-size: 25px;
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    padding: 0 20px ;
    line-height: 60px;
    margin-left: 35%;
    
}

.nav-menu {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    background-color:  rgb(201, 157, 157);
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
}


.nav-menu-item {
    line-height: 70 px;

}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;

}


.nav-menu-link:hover {
    background-color: rgb(205, 137, 134);
    transition: 0.5s;
}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: block;
}

.nav-menu_visible{
left: 0;
}

.fotoUnoYDos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
    margin-left: 3%;
    

}

}

/*---------mobile------*/

@media (max-width: 576px) {

    .logo{
        margin-left: 30%;
    }

    section h2 {
        color: rgb(168, 105, 105);
        text-shadow: 10px rgb(6, 6, 6) ;
        margin-top: 30px;
        margin-left: 5%;
        padding-bottom: 20px;
        
        font-family: 'Raleway', sans-serif;
        font-style: oblique;
        font-size:xx-large;
        text-align: center;
    }
    
    section p {
        color: rgb(10, 10, 10);
        font-size: 20px;
        
        
        text-align: center;
        font-family: 'Raleway', sans-serif;
        margin-left: 14%;
        margin-right: 50px;
        margin-bottom: 100px;
        padding-left: 70px;
        padding-right: 70px;
        
    }


    .fotoUnoYDos {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-auto-rows: minmax(150px, auto);
        gap: 20px;
        padding: 20px;
        grid-auto-flow: dense;
        
        
    
    }

}